<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seagull</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">My Crypto Index</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container pt-3">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th class="text-end">Market Cap</th>
        <th class="text-end">Holding Units</th>
        <th class="text-end">Holding Value</th>
        <th>Target Pct</th>
        <th class="text-end">Target Units</th>
        <th class="text-end">Buy/Sell Units</th>
        <th class="text-end">Buy/Sell Value</th>
      </tr>
      {% for coin in seagull.target_coins + seagull.additional_holdings %}
      <tr>
        <th><img class="me-3" src="{{ coin.image_url }}">{{ coin.name }}</th>
        <th>{{ coin.symbol | upper }}</th>
        <th class="text-end">{{ "{}{:,.0f}".format(seagull.config.base_currency_symbol, coin.market_cap) }}</th>
        <th class="text-end">{{ coin.holding_units }}</th>
        <th class="text-end">{{ "{}{:,.2f}".format(seagull.config.base_currency_symbol, coin.holding_value) }}</th>
        <th>{{ '%0.2f' | format(coin.target_pct * 100) }}%</th>
        <th class="text-end">{{ coin.target_units }}</th>
        <th class="text-end">{{ coin.target_units_diff }}</th>
        <th class="text-end">{{ "{}{:,.2f}".format(seagull.config.base_currency_symbol, coin.target_units_diff_value) }}</th>
      </tr>
      {% endfor %}
    </table>

    <!-- <h2>Additional Holdings</h2>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th class="text-end">Holding Units</th>
        <th class="text-end">Holding Value</th>
      </tr>
      {% for coin in seagull.additional_holdings %}
      <tr>
        <th><img class="me-3" src="{{ coin.image_url }}">{{ coin.name }}</th>
        <th>{{ coin.symbol | upper }}</th>
        <th class="text-end">{{ coin.holding_units }}</th>
        <th class="text-end">{{ "{}{:,.2f}".format(seagull.config.base_currency_symbol, coin.holding_value) }}</th>
      </tr>
      {% endfor %}
    </table> -->

    <h2>To Invest</h2>
    <p>{{ seagull.config.base_currency_symbol }}{{ '%0.2f' | format(seagull.config.base_currency_to_invest) }}</p>

    <h2>Total Investment</h2>
    <p>{{ '%0.2f' | format(seagull.total_investment) }} {{ seagull.config.base_currency_symbol | upper }}</p>
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script> -->
</body>

</html>