@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

tr td .btn {
    visibility: hidden;
}

tr:hover td .btn {
    visibility: visible;
}

// .target-coin-row {
//     background-color: #e8f7eb;
// }
