@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "./loader.scss";

#logo {
  height: 3rem;
}

@media (hover: hover) {
  tr td .btn {
    visibility: hidden;
  }
}

tr:hover td .btn {
  visibility: visible;
}
